# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swap files
*~
*.swp
*.swo
*.dia~

# Dia autosave files (and swap)
*.dia.autosave
*.dia.autosave~

# Cmake build dir
cmake-build-debug
